@import 'style.scss';

$sunIconColor: rgb(255, 153, 37);
$moonIconColor: rgba(106, 165, 255, 0.7);
$sunIconColorNight: rgba(255, 235, 119, 0.7);
$moonIconColorNight: rgb(30, 42, 82);

$sliderColor: #fff;
$sliderColorNight: #c4cfff;

.page-title {
    font-size: 5.4rem;
    font-weight: 700;
    font-family: "Paytone One", sans-serif;

    text-align: center;
    color: $secondaryColor;
}


/**** for regular text ****/
.big-text {
    font-size: 6rem;
    letter-spacing: 0.6px;
    line-height: 1.5;
    color: $textColor;
}

.text {
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: $textColor;

    padding-bottom: 2rem;
}

.links {
    color: $secondaryColor;
    text-decoration: none;

    a:link,
    a:visited {
        color: $secondaryColor;
        text-decoration: none;
    }

    a:hover {
        color: $mediumColor;
    }

    a:active {
        font-size: 1.65rem;
    }
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-end {
    justify-content: end;
}

.nodisp {
    display: none;
}

/**** image banners ***/
.banner-img {
    width: 60%;
    margin-bottom: 1rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem -1rem $boxShadowColor;

    transition: all 0.2s;
}

.banner-img:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1.5rem 1rem -0.8rem $boxShadowColor;
}

/**** dark theme switch ****/
.theme-switch-wrapper {
    align-items: center;
    z-index: 100;
    margin-top: 0.4rem;
}

.theme-switch {
    display: inline-block;
    height: 3.4rem;
    position: relative;
    width: 5.1rem;
}

.theme-switch input {
    z-index: 102;
    display: none;
}

.slider {
    background: rgba(47, 54, 145, 0.6);
    bottom: 0;
    cursor: pointer;
    left: 0;
    transition: 0.4s;
}

.slider::before {
    display: block;
    background: $sliderColor;
    bottom: 0.4rem;
    content: "";
    height: 2.6rem;
    left: 0.4rem;
    transition: 0.4s;
    width: 2.6rem;
    
    box-shadow: 0px 0px 2px $boxShadowColor;
}

input:checked + .slider {
    background: rgb(19, 19, 70);
}

input:checked + .slider::before {
    background: $sliderColorNight;
    transform: translateX(2.6rem);
}

.slider.round {
    border-radius: 3.4rem;
}

.slider.round::before {
    border-radius: 50%;
}

.toggle-icon {
    .fas {
        position: absolute;
        font-size: 1.6rem;
        margin-top: 0.5rem;
        z-index: 100;
        pointer-events: none;
    }
    
    .fa-sun {
        color: $sunIconColor;
        margin-left: 0.5rem;
    }
    
    .fa-moon {
        font-size: 1.5rem;
        margin-top: 0.55rem;
        color: $moonIconColor;
        margin-left: 3rem;
    }
}

/** Used for home page and game dev page for image banners + descriptions **/
.fun {
    width: 100%;
}

.fun-list {
    margin: 4rem 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fun-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

/**** dark theme ***/
.dark {
    .big-text {
        color: rgb(223, 245, 255);
    }

    .page-title {
        color: $secondaryColorNight;
    }

    .text {
        color: $textColorNight;
    }

    .links {
        color: $secondaryColorNight;
    }

    a:link, 
    a:visited {
        color: $secondaryColorNight;
    }

    a:hover {
        color: $mediumColorNight;
    }

    .banner-img {
        box-shadow: 0 1rem 1rem -1rem $boxShadowColorNight;
    }
    
    .banner-img:hover {
        box-shadow: 0 1.5rem 1rem -0.8rem $boxShadowColorNight;
    }

    .fa-sun {
        margin-left: 0.55rem;
        color: $sunIconColorNight;
    }

    .fa-moon {
        margin-left: 3.1rem;
        color: $moonIconColorNight;
    }
}