/****************************************/
/*************** GENERAL ****************/
/****************************************/
/* Main box containing all content */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(0deg, rgba(185, 178, 255, 0.534), rgba(182, 228, 255, 0.664)), linear-gradient(90deg, rgba(120, 217, 255, 0.753), rgba(154, 161, 255, 0.808));
  background-repeat: no-repeat;
  width: 100vw;
  height: 104rem;
  overflow-x: hidden;
}

/****************************************/
/**************** HEADER ****************/
/****************************************/
header {
  height: 8rem;
  width: 100vw;
  padding: 1.8rem 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  align-content: space-evenly;
  gap: 4.8rem;
}

.sticky-header {
  -ms-box-shadow: 0 2px 6px 2px rgba(25, 81, 83, 0.3);
  box-shadow: 0 2px 6px 2px rgba(25, 81, 83, 0.3);
}

.skip-nav {
  position: absolute;
  opacity: 0;
}

.title {
  padding-right: 3rem;
  padding-left: 2rem;
  letter-spacing: -1px;
}
.title a:link,
.title a:visited {
  font-family: "Paytone One", sans-serif;
  font-size: 4.6rem;
  font-weight: 700;
  text-decoration: none;
  color: #33477E;
  transition: all 0.2s;
}
.title a:active,
.title a:hover {
  color: #557e7e;
  text-decoration: underline;
}

.navigation {
  margin-right: 4%;
  margin-left: auto;
  letter-spacing: 0.5;
}
.navigation a:link,
.navigation a:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #245959;
  padding-top: 0.6rem;
  transition: all 0.5s;
}
.navigation a:hover,
.navigation a:active {
  color: #557e7e;
  text-decoration: underline;
}
.navigation a:active {
  font-size: 2.3rem;
}

.nav-ul {
  list-style: none;
  display: flex;
  align-content: space-evenly;
  gap: 3rem;
  padding-top: 1rem;
  letter-spacing: 1.5px;
}

/* Mobile navigation */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 6rem;
  width: 6rem;
  color: #245959;
}

.icon-mobile-nav[name=close-outline] {
  display: none;
}

/****************************************/
/*************** CONTACT ****************/
/****************************************/
.contact {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  bottom: 3rem;
  right: 3rem;
}

.contact-btn {
  width: 5.6rem;
  height: 5.6rem;
  background-color: rgb(242, 254, 255);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -ms-box-shadow: 3px 3px 3px 1px rgba(25, 81, 83, 0.3);
  box-shadow: 3px 3px 3px 1px rgba(25, 81, 83, 0.3);
  font-size: 3.2rem;
  color: #33477E;
  transition: all 0.1s;
}
.contact-btn ion-icon {
  pointer-events: none;
}

.contact-btn:hover {
  color: #1f1f2b;
  background-color: #deffff;
}

.contact-btn:active {
  transform: translateY(2px);
  -ms-box-shadow: 1px 1px 1px 1px rgba(25, 81, 83, 0.3);
  box-shadow: 1px 1px 1px 1px rgba(25, 81, 83, 0.3);
}

/****************************************/
/***************** BODY *****************/
/****************************************/
/** Homepage **/
main {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: start;
  width: 100vw;
}

/** Hero **/
.hero {
  width: 100%;
  height: 83rem;
}

.picture {
  position: absolute;
  z-index: -1;
  opacity: 0.05;
  top: 0;
  width: 100vw;
  height: 123rem;
  overflow-y: hidden;
}
.picture img {
  width: 100%;
  height: 103rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 75%;
     object-position: 50% 75%;
}

.hello {
  padding: 10rem 20rem;
  font-size: 14rem;
  font-weight: 700;
  width: 100vw;
  color: #1f1f2b;
}

.waving {
  display: inline-block;
}

.waving:hover {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.intro {
  width: 60vw;
  padding: 3rem 0;
  font-size: 4rem;
  font-weight: 400;
}

.description {
  margin: 4rem 12rem;
}
.description .big-text:not(:first-of-type) {
  margin-top: 3rem;
}

/** About section **/
.about {
  margin-top: 9.2rem;
  padding: 10rem 3rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 10rem 4fr;
  background: linear-gradient(#ddedff 10%, #ddedff 90%, white 100%);
}
.about .page-title {
  grid-column: -1/1;
  margin-bottom: 0.8rem;
}
.about .about-picture {
  padding: 0 0 0 20rem;
}
.about .about-picture img {
  width: 40rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about-description {
  padding: 0 20rem 0 10rem;
}
.about .text {
  font-size: 2.4rem;
}

/** Game Dev list **/
.gamedev {
  padding: 4rem 2rem;
}

.game-title a:link,
.game-title a:visited {
  color: #261d75;
  font-size: 2.4rem;
  font-family: "Paytone One", sans-serif;
  text-decoration: none;
  transition: all 0.2s;
}
.game-title a:hover,
.game-title a:active {
  color: #5347be;
}

.game-description {
  text-align: center;
  max-width: 80%;
}

/** CV page **/
.cv {
  width: 100%;
}

.cv-pdf {
  color: #245959;
  font-size: 2.6rem;
  font-weight: normal;
  text-decoration: none;
}

.cv-pdf:hover {
  color: #557e7e;
}

.cv-download-icon {
  width: 2.4rem;
  height: 2.4rem;
  transform: translateY(2px);
  z-index: 1;
}

.cv-part {
  border-top: 4px dotted rgb(227, 249, 255);
  padding: 2rem;
}

.cv-part-title {
  color: #33477E;
  font-size: 2rem;
}

.cv-text {
  font-size: 1.6rem;
  color: #1f1f2b;
  list-style: square;
}
.cv-text li:first-of-type {
  margin-top: 1rem;
}
.cv-text li {
  margin-top: 0.6rem;
  margin-left: 2rem;
}

.cv-item {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #245959;
  font-style: italic;
  font-weight: bold;
}

/****************************************/
/**************** FOOTER ****************/
/****************************************/
/****************************************/
/************* NIGHT THEME **************/
/****************************************/
.dark {
  background-image: linear-gradient(0deg, rgba(42, 14, 51, 0.534), rgba(13, 10, 41, 0.664)), linear-gradient(90deg, rgba(15, 26, 49, 0.753), rgba(34, 25, 77, 0.808));
}
.dark .sticky-header {
  -ms-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}
.dark .title a:link,
.dark .title a:visited {
  color: #aebce2;
}
.dark .title a:active,
.dark .title a:hover {
  color: #d4cff0;
}
.dark .navigation a:link,
.dark .navigation a:visited {
  color: #b8b0e4;
}
.dark .navigation a:hover,
.dark .navigation a:active {
  color: #d4cff0;
}
.dark .icon-mobile-nav {
  color: #b8b0e4;
}
.dark .contact-btn {
  background-color: rgb(83, 68, 109);
  -ms-box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.3);
}
.dark .hello {
  color: #e1e7f3;
}
.dark .about {
  background: linear-gradient(#1b1835 10%, #1b1835 90%, #27254d 100%);
}
.dark .picture {
  opacity: 0.02;
}
.dark .gamedev {
  background-color: #27254d;
}
.dark .game-title a:link,
.dark .game-title a:visited {
  color: #8199da;
}
.dark .game-title a:hover,
.dark .game-title a:active {
  color: #b2d0e2;
}
.dark .fun {
  background-color: #27254d;
}/*# sourceMappingURL=style.css.map */